# Ignore operating system files
.DS_Store

# Ignore editor files
.vscode/
.idea/

# Ignore build output
build/
dist/

# Ignore dependencies
node_modules/
vendor/

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore temporary files
*.tmp
*.swp

# Ignore pycache files
__pycache__/


# Ignore the 100_K instances files
100_K_instances/

# Ignore processed data
processed_data/